<!doctype html>
<html>

<head>
    <script src="js/tracking-min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script src="js/socket.io.min.js"></script>
</head>


<body>

    <!-- User tracking camera feed and logic -->
    <div class="demo">
        <video id="myVideo" width="600" height="450" preload autoplay loop muted></video>
        <canvas id="canvas" width="600" height="450"></canvas>
    </div>

    <script>
  var canvas = document.getElementById('canvas');
  var context = canvas.getContext('2d');
  var audio = new Audio('media/Awake.mp3');

  // Make audio element loop.
  audio.addEventListener('ended', function() {
    this.currentTime = 0;
    this.play();
  }, false);

  tracking.ColorTracker.registerColor('skin', function(r,g,b) {
    var threshold = 10,
     dr = r - 204,
     dg = g - 148,
     db = b - 148;

     if( dr >= threshold && dg >= threshold && db >= threshold) {
       return true;
     }
     return false;
  });

  var colors = new tracking.ColorTracker(['skin']);

  var alarmSocket = io.connect('http://localhost:8081/alarm');

  colors.on('track', function(event) {
    if (event.data.length === 0) {
    // No skin tone was detected in this frame.
    } 
    else {
      event.data.forEach(function(rect) {
    // Conditional for in bed (turn alarm back on).
      if(rect.x > 200 && rect.x < 500 && rect.y > 190 && rect.y < 410) {
        audio.play();
      }
      else {
        audio.pause();
      }
      });
    }
  });

  var trackingTask = tracking.track('#myVideo', colors, {camera: true});
  trackingTask.stop();

  // Trigger alarm
  alarmSocket.on('alarmON', function() {
    audio.play();
    trackingTask.run();
    // Shut alarm off after 5 mins.
    setTimeout(function() {
      trackingTask.stop();
      audio.pause();
      audio.currentTime = 0;
    },300000);
  });
    
  </script>


</body>

</html>