<!doctype html>
<html>

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Test Bed</title>

  <!-- JS References -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
  <script src="js/bootstrap-slider.min.js"></script>
  <script src="js/tracking.js"></script>

  <!-- CSS References -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap-slider.min.css">
  <link rel="stylesheet" href="css/alarm.css">
</head>

<body>

  <div class="page-header">
    <h1>The Sentient Alarm</h1>
  </div>


  <!-- Tab elements adopted from http://www.w3schools.com/howto/howto_js_tabs.asp -->

  <ul class="tab">
    <li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Monday')" id="defaultOpen">Monday</a></li>
    <li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Tuesday')">Tuesday</a></li>
    <li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Wednesday')">Wednesday</a></li>
    <li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Thursday')">Thursday</a></li>
    <li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Friday')">Friday</a></li>
    <li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Saturday')">Saturday</a></li>
    <li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Sunday')">Sunday</a></li>
  </ul>

<div class = "container col-lg-4 col-centered">
<form role="form" method="post">


  <div id="Monday" class="tabcontent">
    <div class="row">
      <div class="container col-md-8">
        <div class="form">
          <h2>Monday</h2>
          <h3>Hours</h3>
          </br>
          <input id="hour-slider_Mon" name="hour-slider_Mon" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="12" data-slider-step="1"
            data-slider-value="8" />
          </br>
          <h3>Minutes</h3>
          </br>
          <input id="minute-slider_Mon" name="minute-slider_Mon" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="59" data-slider-step="1"
            data-slider-value="5" />
          </br>
          </br>
          <div class="switch6" id="AM-PM">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="AMPM_Mon">
                <span>
                  <span>AM</span>
                  <span>PM</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
          </br>
          </br>
          <h3>Alarm On</h3>
          <div class="switch6" id="alarmON">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="alarmON_Mon" checked=true value="no">
                <span>
                  <span>Yes</span>
                  <span>No</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  $("#hour-slider_Mon").slider({
    tooltip: 'always'
  });

  $("#minute-slider_Mon").slider({
    tooltip: 'always'
  });
  </script>

  <div id="Tuesday" class="tabcontent">
    <div class="row">
      <div class="container col-md-8">
        <div class="form">
          <h2>Tuesday</h2>
          <h3>Hours</h3>
          </br>
          <input id="hour-slider_Tue" name="hour-slider_Tue" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="12" data-slider-step="1"
            data-slider-value="8" />
          </br>
          <h3>Minutes</h3>
          </br>
          <input id="minute-slider_Tue" name="minute-slider_Tue" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="59" data-slider-step="1"
            data-slider-value="5" />
          </br>
          </br>
          <div class="switch6" id="AM-PM">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="AMPM_Tue">
                <span>
                  <span>AM</span>
                  <span>PM</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
          </br>
          </br>
          <h3>Alarm On</h3>
          <div class="switch6" id="alarmON">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="alarmON_Tue" checked=true value="no">
                <span>
                  <span>Yes</span>
                  <span>No</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  $("#hour-slider_Tue").slider({
    tooltip: 'always'
  });

  $("#minute-slider_Tue").slider({
    tooltip: 'always'
  });
  </script>

  <div id="Wednesday" class="tabcontent">
    <div class="row">
      <div class="container col-md-8">
        <div class="form">
          <h2>Wednesday</h2>
          <h3>Hours</h3>
          </br>
          <input id="hour-slider_Wed" name="hour-slider_Wed" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="12" data-slider-step="1"
            data-slider-value="8" />
          </br>
          <h3>Minutes</h3>
          </br>
          <input id="minute-slider_Wed" name="minute-slider_Wed" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="59" data-slider-step="1"
            data-slider-value="5" />
          </br>
          </br>
          <div class="switch6" id="AM-PM">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="AMPM_Wed">
                <span>
                  <span>AM</span>
                  <span>PM</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
          </br>
          </br>
          <h3>Alarm On</h3>
          <div class="switch6" id="alarmON">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="alarmON_Wed" checked=true value="no">
                <span>
                  <span>Yes</span>
                  <span>No</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  $("#hour-slider_Wed").slider({
    tooltip: 'always'
  });

  $("#minute-slider_Wed").slider({
    tooltip: 'always'
  });
  </script>

  <div id="Thursday" class="tabcontent">
    <div class="row">
      <div class="container col-md-8">
        <div class="form">
          <h2>Thursday</h2>
          <h3>Hours</h3>
          </br>
          <input id="hour-slider_Thur" name="hour-slider_Thur" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="12" data-slider-step="1"
            data-slider-value="8" />
          </br>
          <h3>Minutes</h3>
          </br>
          <input id="minute-slider_Thur" name="minute-slider_Thur" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="59" data-slider-step="1"
            data-slider-value="5" />
          </br>
          </br>
          <div class="switch6" id="AM-PM">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="AMPM_Thur">
                <span>
                  <span>AM</span>
                  <span>PM</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
          </br>
          </br>
          <h3>Alarm On</h3>
          <div class="switch6" id="alarmON">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="alarmON_Thur" checked=true value="no">
                <span>
                  <span>Yes</span>
                  <span>No</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  $("#hour-slider_Thur").slider({
    tooltip: 'always'
  });

  $("#minute-slider_Thur").slider({
    tooltip: 'always'
  });
  </script>

  <div id="Friday" class="tabcontent">
    <div class="row">
      <div class="container col-md-8">
        <div class="form">
          <h2>Friday</h2>
          <h3>Hours</h3>
          </br>
          <input id="hour-slider_Fri" name="hour-slider_Fri" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="12" data-slider-step="1"
            data-slider-value="8" />
          </br>
          <h3>Minutes</h3>
          </br>
          <input id="minute-slider_Fri" name="minute-slider_Fri" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="59" data-slider-step="1"
            data-slider-value="5" />
          </br>
          </br>
          <div class="switch6" id="AM-PM">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="AMPM_Fri">
                <span>
                  <span>AM</span>
                  <span>PM</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
          </br>
          </br>
          <h3>Alarm On</h3>
          <div class="switch6" id="alarmON">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="alarmON_Fri" checked=true value="no">
                <span>
                  <span>Yes</span>
                  <span>No</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  $("#hour-slider_Fri").slider({
    tooltip: 'always'
  });

  $("#minute-slider_Fri").slider({
    tooltip: 'always'
  });
  </script>

  <div id="Saturday" class="tabcontent">
    <div class="row">
      <div class="container col-md-8">
        <div class="form">
          <h2>Saturday</h2>
          <h3>Hours</h3>
          </br>
          <input id="hour-slider_Sat" name="hour-slider_Sat" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="12" data-slider-step="1"
            data-slider-value="8" />
          </br>
          <h3>Minutes</h3>
          </br>
          <input id="minute-slider_Sat" name="minute-slider_Sat" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="59" data-slider-step="1"
            data-slider-value="5" />
          </br>
          </br>
          <div class="switch6" id="AM-PM">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="AMPM_Sat">
                <span>
                  <span>AM</span>
                  <span>PM</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
          </br>
          </br>
          <h3>Alarm On</h3>
          <div class="switch6" id="alarmON">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="alarmON_Sat" checked=true value="no">
                <span>
                  <span>Yes</span>
                  <span>No</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  $("#hour-slider_Sat").slider({
    tooltip: 'always'
  });

  $("#minute-slider_Sat").slider({
    tooltip: 'always'
  });
  </script>

  <div id="Sunday" class="tabcontent">
    <div class="row">
      <div class="container col-md-8">
        <div class="form">
          <h2>Sunday</h2>
          <h3>Hours</h3>
          </br>
          <input id="hour-slider_Sun" name="hour-slider_Sun" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="12" data-slider-step="1"
            data-slider-value="8" />
          </br>
          <h3>Minutes</h3>
          </br>
          <input id="minute-slider_Sun" name="minute-slider_Sun" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="59" data-slider-step="1"
            data-slider-value="5" />
          </br>
          </br>
          <div class="switch6" id="AM-PM">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="AMPM_Sun">
                <span>
                  <span>AM</span>
                  <span>PM</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
          </br>
          </br>
          <h3>Alarm On</h3>
          <div class="switch6" id="alarmON">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="alarmON_Sun" checked=true value="no">
                <span>
                  <span>Yes</span>
                  <span>No</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  $("#hour-slider_Sun").slider({
    tooltip: 'always'
  });

  $("#minute-slider_Sun").slider({
    tooltip: 'always'
  });
  </script>

<div class="row">
  <input type="submit" value="Set Alarms" class="btn btn-primary btn-lg btn-block" id="SetAlarmsSubmit">
</div>

</form>
</div>

  <script>
    function openDay(evt, dayName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(dayName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>










  <!-- User tracking camera feed and logic -->

  <!-- REMOVE MEEEEEEE

  <div class="demo">
    <video id="myVideo" width="600" height="450" preload autoplay loop muted></video>
    <canvas id="canvas" width="600" height="450"></canvas>
  </div>

  <script>
  var canvas = document.getElementById('canvas');
  var context = canvas.getContext('2d');
  var audio = new Audio('media/Awake.mp3');

  tracking.ColorTracker.registerColor('skin', function(r,g,b) {
    var threshold = 10,
     dr = r - 204,
     dg = g - 148,
     db = b - 148;

     if( dr >= threshold && dg >= threshold && db >= threshold) {
       return true;
     }
     return false;
  });

  var colors = new tracking.ColorTracker(['skin']);

  colors.on('track', function(event) {
    if (event.data.length === 0) {
      // No skin tone was detected in this frame.
    } 
    else {
      event.data.forEach(function(rect) {
        if(rect.x > 200 && rect.x < 500 && rect.y > 190 && rect.y < 410) {
          audio.play();
        }
        else {
          audio.pause();
        }

//        console.log(rect.x, rect.y, rect.height, rect.width, rect.color);

//          context.strokeStyle = "#000";
//          context.strokeRect(rect.x, rect.y, rect.width, rect.height);
//          context.font = '11px Helvetica';
//          context.fillStyle = "#fff";
//          context.fillText('x: ' + rect.x + 'px', rect.x + rect.width + 5, rect.y + 11);
//          context.fillText('y: ' + rect.y + 'px', rect.x + rect.width + 5, rect.y + 22);

      });
    }
  });

  tracking.track('#myVideo', colors, {camera: true});
  </script>

REMOVE MEEEEE -->

</body>

</html>