<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Test Bed</title>

  <!-- JS References -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
  <script src="js/bootstrap-slider.min.js"></script>
	<script src="js/tracking.js"></script>

  <!-- CSS References -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap-slider.min.css">
  <link rel="stylesheet" href="css/alarm.css">
</head>

<body>

	<div class="page-header">
		<h1>The Sentient Alarm</h1>
	</div>


	<!-- Tab elements adopted from http://www.w3schools.com/howto/howto_js_tabs.asp -->

	<ul class="tab">
		<li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Monday')">Monday</a></li>
		<li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Tuesday')">Tuesday</a></li>
		<li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Wednesday')" id="defaultOpen">Wednesday</a></li>
		<li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Thursday')" id="defaultOpen">Thursday</a></li>
		<li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Friday')" id="defaultOpen">Friday</a></li>
		<li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Saturday')" id="defaultOpen">Saturday</a></li>
		<li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Sunday')" id="defaultOpen">Sunday</a></li>
	</ul>


	<div id="Monday" class="tabcontent">
		<h3>Monday</h3>
		<p>Monday is the capital of France.</p>
	</div>

	<div id="Tuesday" class="tabcontent">
		<h3>Tuesday</h3>
		<p>Tuesday is the capital of Japan.</p>
	</div>

	<div id="Wednesday" class="tabcontent">
    <div class="row">
      <div class = "container col-centered">
        <div class="form">
          <h2>Wednesday</h2>
          <h3>Hours</h3>
          </br>
          <input id="hour-slider" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="12" data-slider-step="1" data-slider-value="8"/>
          </br>
          <h3>Minutes</h3>
          </br>
          <input id="minute-slider" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="59" data-slider-step="1" data-slider-value="5"/>
          </br>
          </br>
          <div class="switch6" id="AM-PM">
            <label class="switch6-light" onclick="">
                <input type="checkbox">
                <span>
                  <span>AM</span>
                  <span>PM</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
				  </div>
          </br>
          </br>
          <h3>Alarm On</h3>
          <div class="switch6" id="alarmON">
            <label class="switch6-light" onclick="">
                <input type="checkbox">
                <span>
                  <span>Yes</span>
                  <span>No</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
				  </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  $("#hour-slider").slider({
    tooltip: 'always'
  });

  $("#minute-slider").slider({
    tooltip: 'always'
  });

  </script>

	<div id="Thursday" class="tabcontent">
		<h3>Thursday</h3>
		<p>Tuesday is the capital of Japan.</p>
	</div>

	<div id="Friday" class="tabcontent">
		<h3>Friday</h3>
		<p>Tuesday is the capital of Japan.</p>
	</div>

	<div id="Saturday" class="tabcontent">
		<h3>Saturday</h3>
		<p>Tuesday is the capital of Japan.</p>
	</div>

	<div id="Sunday" class="tabcontent">
		<h3>Sunday</h3>
		<p>Tuesday is the capital of Japan.</p>
	</div>

	<script>
    function openDay(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>










	<!-- User tracking camera feed and logic -->

	<!-- REMOVE MEEEEEEE

  <div class="demo">
    <video id="myVideo" width="600" height="450" preload autoplay loop muted></video>
    <canvas id="canvas" width="600" height="450"></canvas>
  </div>

  <script>
  var canvas = document.getElementById('canvas');
  var context = canvas.getContext('2d');
  var audio = new Audio('media/Awake.mp3');

  tracking.ColorTracker.registerColor('skin', function(r,g,b) {
    var threshold = 10,
     dr = r - 204,
     dg = g - 148,
     db = b - 148;

     if( dr >= threshold && dg >= threshold && db >= threshold) {
       return true;
     }
     return false;
  });

  var colors = new tracking.ColorTracker(['skin']);

  colors.on('track', function(event) {
    if (event.data.length === 0) {
      // No skin tone was detected in this frame.
    } 
    else {
      event.data.forEach(function(rect) {
        if(rect.x > 200 && rect.x < 500 && rect.y > 190 && rect.y < 410) {
          audio.play();
        }
        else {
          audio.pause();
        }

//        console.log(rect.x, rect.y, rect.height, rect.width, rect.color);

//          context.strokeStyle = "#000";
//          context.strokeRect(rect.x, rect.y, rect.width, rect.height);
//          context.font = '11px Helvetica';
//          context.fillStyle = "#fff";
//          context.fillText('x: ' + rect.x + 'px', rect.x + rect.width + 5, rect.y + 11);
//          context.fillText('y: ' + rect.y + 'px', rect.x + rect.width + 5, rect.y + 22);

      });
    }
  });

  tracking.track('#myVideo', colors, {camera: true});
  </script>

REMOVE MEEEEE -->

</body>

</html>