<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="css/example.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="jumbotron col-lg-12 col-centered">
        <h1 class="text-center">The Sentient Alarm</h1>
    </div>

    <div class = "container col-lg-4 col-centered">
        <div class="wrapper">
            <form action="" method="POST" name="login_form">
                <input type="password" name="password" placeholder="Password" required=""/>
                <br>
                <button name="submit" value="Submit">Submit</button>
            </form>
        </div>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>